<html>
  <head>
    <script src="/jquery/dist/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <a href="/"><h1>Panodol</h1></a>
    {{{ body }}}
  </body>
</html>
