
<div class="jumbotron">
	<h2>Panodol 2015</h2>
	<p>Willkommen auf der Panodol Forte Web-App</p>
	<ul>
		<li>
			<a href="roumors">Grüchtli-Wand</a>
		</li>
		<li>
			<a href="userlist">TN-Liste</a>
		</li>
		<li>
			<a href="sleepOverview">Schlaf</a>
		</li>
	</ul>
</div>