<h2>{{title}}</h2>
<div>
	<form action="/roumors" method="post">
	  <p>Neues Gerücht</p> 
	  <textarea required name="roumor" autofocus style="width: 100%"></textarea>
	  <br />
	  <button class="btn btn-primary" id="save_roumor">Save</button>
	</form>
</div>
<hr />
<div>
		{{#roumors}}
		<div class="panel panel-default">
		  <div class="panel-body">
		    {{text}}
		  </div>
		  <div class="panel-footer">{{time}}</div>
		</div>
		{{/roumors}}
</div>