<h2>{{title}}</h2>
<div>
<form action="/roumors" method="post">
  Neues Gerücht <input type="text" name="roumor" autofocus>
  <button id="save_roumor">Save</button>
</form>
<ul style="list-style:none;">
	{{#roumors}}
		<li>{{this}}</li>
	{{/roumors}}
</ul>
</div>