<h2>{{title}}</h2>
<div>
	<h3>Nächte</h3>
	<div class="list-group">
		  <a href="#" class="list-group-item">
		    Donnerstag 14.Mai 15
		  </a>
		  <a href="#" class="list-group-item">Freitag 15.Mai 15</a>
		  <a href="#" class="list-group-item">Samstag 16.Mai 15</a>
	</div>
</div>
<hr />
