<style type="text/css">
	.abc {
		vertical-align: right;
	}
</style>
<h2>{{title}}</h2>
<div>
	<h3>Nächte</h3>
	<div class="list-group">
	  <div class="list-group-item">
	  	<a href="sleepAnalysis?night=1">Donnerstag 14.Mai 15</a>
	  	<a href="sleepInput?night=1" class="abc btn btn-primary"><span class="glyphicon glyphicon-plus"/></a>
	  </div>
	  <div class="list-group-item">
	  <a href="sleepAnalysis?night=2" class="">Freitag 15.Mai 15</a>
	  <a href="sleepInput?night=2" class="abc btn btn-primary"><span class="glyphicon glyphicon-plus"/></a>
	</div>
	  <div class="list-group-item">
	  <a href="sleepAnalysis?night=3" class="">Samstag 16.Mai 15</a>
	  <a href="sleepInput?night=3" class="abc btn btn-primary"><span class="glyphicon glyphicon-plus"/></a>
	</div>
	</div>
</div>
<hr />
