<h2>{{title}}</h2>
<div>
	<form action="/sleep_input" method="post">
	  <p>Nacht</p> 
	  Name: <input type="text" name="name" required autofocus /><br />
	  Schlaf: <input type="radio" name="sleep" value="1"/>1
	  <input type="radio" name="sleep" value="2"/>2
	  <input type="radio" name="sleep" value="3"/>3
	  <input type="radio" name="sleep" value="4"/>4
	  <br />
	  <button class="btn btn-primary" id="save_roumor">Save</button>
	</form>
</div>
<hr />
