<h2>{{title}}</h2>
<div>
<table>
	<tr>
		<td><img src="images/Silencio.jpg" height="100"/></td>
		<td><h3>Silencio</h3>Linus Albertin<br />Pfadi Wohlen<br />23.6.1996</td>
	</tr>
	<tr>
		<td><img src="images/Tictac.jpg" height="100"/></td>
		<td><h3>Tic-Tac</h3>Lea Frey<br />Pfadi Uster-Greifensee<br />8.2.1994</td>
	</tr>
	<tr>
		<td><img src="images/Calimero.jpg" height="100"/></td>
		<td><h3>Calimero</h3>Gianluca Galli<br />Pfadi Uster-Greifensee<br />23.8.1993</td>
	</tr>
	<tr>
		<td><img src="images/Zwieback.jpg" height="100"/></td>
		<td><h3>Zwieback</h3>Sabrina Heuberger<br />Pfadi Wohlen<br />20.9.1995</td>
	</tr>
	<tr>
		<td><img src="images/Litschi.jpg" height="100"/></td>
		<td><h3>Litschi</h3>Rahel Müller<br />Pfadi Wohlen<br />14.4.1996</td>
	</tr>
	<tr>
		<td><img src="images/Kaa.jpg" height="100"/></td>
		<td><h3>Kaa</h3>Julian Ledergerber<br />Pfadi Orion<br />13.5.1992</td>
	</tr>
	<tr>
		<td><img src="images/Folletta.jpg" height="100"/></td>
		<td><h3>Folletta</h3>Emily Wangler<br />Pfadi Diviko<br />3.7.1991</td>
	</tr>
	<tr>
		<td><img src="images/Tell.jpg" height="100"/></td>
		<td><h3>Tell</h3>Simon Rüegg<br />Winkelried<br />27.12.1992</td>
	</tr>
	<tr>
		<td><img src="images/Rayka.jpg" height="100"/></td>
		<td><h3>Rayka</h3>Tanja Sachs<br />Meitlipfadi Säuliamt<br />19.6.1992</td>
	</tr>
	<tr>
		<td><img src="images/Scrumb.jpg" height="100"/></td>
		<td><h3>Scrumb</h3>Arthur Sobrinho<br />Züriberg<br />23.10.1993</td>
	</tr>
	<tr>
		<td><img src="images/Titan.jpg" height="100"/></td>
		<td><h3>Titan</h3>Jonas Henn<br />Pfadi Diviko<br />30.5.1992</td>
	</tr>
	<tr>
		<td><img src="images/Chispa.jpg" height="100"/></td>
		<td><h3>Chispa</h3>Nina Würsten<br />PTA Atlantis<br />29.11.1988</td>
	</tr>
	<tr>
		<td><img src="images/Yoruba.jpg" height="100"/></td>
		<td><h3>Yoruba</h3>Jaqueline Portmann<br />Pfadi Wohlen<br />8.5.1995</td>
	</tr>
	<tr>
		<td><img src="images/Kinley.jpg" height="100"/></td>
		<td><h3>Kinley</h3>Christian Heusser<br />Flamberg<br />17.5.1995</td>
	</tr>
	<tr>
		<td><img src="images/Dingo.jpg" height="100"/></td>
		<td><h3>Dingo</h3>Lukas Büto<br />Pfadi Wohlen<br />10.6.1995</td>
	</tr>
</table>
Leiter
<table>
	<tr>
		<td><img src="images/Cocorita.jpg" height="100"/></td>
		<td><h3>Cocorita</h3>Sabine Schibli<br />Korps Glattal<br />16.7.1987</td>
	</tr>
	<tr>
		<td><img src="images/Prusik.jpg" height="100"/></td>
		<td><h3>Prusik</h3>Florian Bosshard<br />PBS<br />3.8.1989</td>
	</tr>
	<tr>
		<td><img src="images/Twix.jpg" height="100"/></td>
		<td><h3>Twix</h3>Adrian Murbach<br />Flamberg/PTA GLoggi <br />6.10.1985</td>
	</tr>
	<tr>
		<td><img src="images/Gamschi.jpg" height="100"/></td>
		<td><h3>Gämschi</h3>Marc Geissmann<br />Pfadi Wohlen<br />5.9.1981</td>
	</tr>
	<tr>
		<td><img src="images/Peale.jpg" height="100"/></td>
		<td><h3>Peale</h3>Dominique Kessler<br />Pfadi Lachen<br />5.11.1990</td>
	</tr>
	<tr>
		<td><img src="images/Tweety.jpg" height="100"/></td>
		<td><h3>Tweety</h3>Eliane Niggli<br />Pfadi Altberg<br />27.2.1991</td>
	</tr>
	<tr>
		<td><img src="images/Folletta.jpg" height="100"/></td>
		<td><h3>Folletta</h3>Emily Wangler<br />Pfadi Diviko<br />3.7.1991</td>
	</tr>
	<tr>
		<td><img src="images/Chuchi.jpg" height="100"/></td>
		<td><h3>Küche</h3>Xenon, Lingua, Lane</td>
	</tr>
</table>
</div>